<div class="longform spacing">
{% for block in entry.bodyEnhanced %}
  {% switch block.type %}
    {#
    # Heading Block
    #}
    {% case "headingBlock" %}
    <div class="longform_row">

      {% if block.headingType == "h2" %}
        <h2 class="heading alpha--l spacing-top--double">{{ block.heading }}</h2>
      {% elseif block.headingType == "h3" %}
        <h3 class="heading alpha--m spacing-top--double">{{ block.heading }}</h3>

      {% endif %}
    </div>

    {#
    # Text Block
    #}
    {% case "textBlock" %}
    <div class="longform_row">
      <p class="text gamma--s">{{ block.text | stripP }}</p>
    </div>

    {#
    # Quote Block
    #}
    {% case "quoteBlock" %}
    <div class="longform_row">

    <blockquote class="gamma">
      "{{ block.quote | stripP }}"
    </blockquote>
  </div>

    {#
    # Image Block
    #}
    {% case "imageBlock" %}
      <div class="longform_row--wide row">
      {% for image in block.image %}
        <div class="row_block">
          <img src="{{ image.url }}" alt="{{ image.title }}" />
        </div>
      {% endfor %}
      </div>

      {% case "instagramBlock" %}
      {{ block.embed|raw }}


      {% case "codeBlock" %}
      <div class="longform_row--wide">
        <pre><code class="{{ block.type }}">{{ block.code }}</code></pre>
      </div>




  {% endswitch %}


{% endfor %}
</div>
