{% extends "_layout" %}

{% block content %}


<section class="hero hero--home">
  {% for item in entry.hero %}
  {% switch item.type %}
    {% case "block" %}
    {{ (item.image.first is not empty ? '<img class="hero_image" src="'~item.image.first.url~'" alt="'~item.image.first.title~'" />'  : empty) | raw}}
    <div class="content">
      <div class="hero_content hero_content{{ item.position }}">
        <div class="spacing">
        <h1 class="hero_title alpha--l">{{ item.heading }}</h1>
        <p class="hero_body--home gamma">{{ item.excerpt | stripP }}</p>
        <p class="btn btn--{{ item.callToActionStyle }}"><a href="{{ item.callToAction.url }}">{{ item.callToAction.text }}</a></p>
        </div>
      </div>
    </div>
  {% endswitch %}
  {% endfor %}
</section>


{% endblock %}
